# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.history/*

# Miscellaneous
.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# pnpm
.pnpm-store/

packages/main/node_modules
packages/main/dist
packages/main/.angular/cache
packages/ui/node_modules
packages/ui/dist
packages/ui/.angular/cache
packages/core/node_modules
packages/core/dist
packages/core/.angular/cache
