# Backend - Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Backend - Spring Boot
**/application-local.properties
**/application-dev.properties
*.log
*.gz
*.tmp

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.sublime-workspace
.project
.classpath
.settings/
.factorypath

# Frontend - Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/tmp/
frontend/.env
frontend/npm-debug.log
frontend/yarn-error.log
frontend/packages/main/.angular/cache
frontend/packages/main/node_modules
frontend/packages/main/dist
frontend/packages/core/node_modules
frontend/packages/core/dist
frontend/packages/core/.angular/cache
frontend/packages/ui/node_modules
frontend/packages/ui/dist
frontend/packages/ui/.angular/cache

# System files
.DS_Store
Thumbs.db

# Sensitive information
*.pem
*.key
